@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wdth,wght@62.5,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Roboto
.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

// Noto Sans Arabic

.noto-sans-regular {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-medium {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-bold {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-regular-italic {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.noto-sans-medium-italic {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.noto-sans-bold-italic {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  font-style: italic;
}
